/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html,
body {
  background-image: url("background.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Andale Mono, monospace;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  margin-inline: 10em;
}

/* html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
} */
nav .button-container {
  display: flex;
  flex-direction: row;
}
nav .button-container .button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, transform 0.1s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  width: auto;
}
nav .button-container .button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}
nav .button-container .button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(0.96);
}
nav .button-container .button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
nav .button-container div {
  margin-top: 1em;
  margin-right: 1em;
}
nav .button-container a {
  text-decoration: none;
}

label {
  color: white;
}

select {
  background: none;
  color: white;
}

/* .table {
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    height: 60vh;
    margin-bottom: 20vh;
  } */
/* .lablicky {
    display: flex;
    flex-direction: column;
    scale: 150%;
    height: 100%;
    margin-right: 2em;
  }

  .selecticky {
    display: flex;
    flex-direction: column;
    width: 7vw;
    scale: 150%;

  } */
.result {
  color: white;
}

/*# sourceMappingURL=style.css.map */
.parameters {
  /* margin-top: 10vh; */
}

form {
  /* width: 80vw; !!!!!!!! */
}

.parameters table {
  margin-top: 5vh;
}

.parameters table,
th,
td {
  color: yellow;
  border: 1px solid white;
}

.parameters input {
  width: 4vw;
}

.table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1em);
  grid-column-gap: 3em;
  grid-row-gap: 1em;
  margin: 15vh 10em 20vh 10em;
  height: 60vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  margin-bottom: 4vh;
}

.lablicky {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(7, 1em);
  grid-column-gap: 0em;
  grid-row-gap: 0.5em;
  font-size: xx-large;
}
.lablicky div {
  min-width: 20em;
}

.selecticky {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(7, 1em);
  grid-column-gap: 0em;
  grid-row-gap: 0.5em;
  font-size: xx-large;
}
.selecticky div {
  max-width: 10em;
}

.set-width {
  min-width: 8em;
}

.div1 {
  grid-area: 1/1/2/2;
}

.div2 {
  grid-area: 2/1/3/2;
}

.div3 {
  grid-area: 3/1/4/2;
}

.div4 {
  grid-area: 4/1/5/2;
}

.div5 {
  grid-area: 5/1/6/2;
}

.div6 {
  grid-area: 6/1/7/2;
}

.div7 {
  grid-area: 7/1/8/2;
}

.div8 {
  grid-area: 8/1/9/2;
}

.div9 {
  grid-area: 1/2/2/3;
}

.div10 {
  grid-area: 2/2/3/3;
}

.div11 {
  grid-area: 3/2/4/3;
}

.div12 {
  grid-area: 4/2/5/3;
}

.div13 {
  grid-area: 5/2/6/3;
}

.div14 {
  grid-area: 6/2/7/3;
}

.div15 {
  grid-area: 7/2/8/3;
}

.div16 {
  grid-area: 8/2/9/3;
}

.about {
  margin: 3em 0 5em 0;
}
.about p {
  font-size: large;
  color: white;
}/*# sourceMappingURL=style.css.map */